{# menu.twig #}

<ul>
        
   {% for item in items %}
   
        <li class="{{item.classes | join(' ')}}">
            
            <a href="{{item.url}}">{{ item.title ?: item.post_title }}</a>
             
        </li>
        
    {% endfor %}
    
</ul>
