/*----------------------------------------------------------------------------*\
    #SETTINGS
    
    Globally-available variables, settings & config switches.
\*----------------------------------------------------------------------------*/

@import 'settings/global';               // Global variables & config.
@import 'settings/colours';              // Colour code variables.


