/*----------------------------------------------------------------------------*\
    #GLOBAL VARIABLES
\*----------------------------------------------------------------------------*/

$xy-grid: false;

$slick-font-path: "../../node_modules/slick-carousel/slick/fonts/";
$slick-loader-path: "../../node_modules/slick-carousel/slick/";


